<div class="grid grid-cols-5 gap-12">
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
  <div class="col-span-1">
    <app-recipe-card></app-recipe-card>
  </div>
</div>
